{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<h1 class="text-center">⋆༺𓆩 𝐏á𝗀𝗂𐓣α ᑯ𝖾 ᥣⱺ𝗀𝗂𐓣 𓆪༻⋆</h1>

<!DOCTYPE html>
<html>
<body style= "background-color:#94a050">



    <div class="row">
<form action="" >
    <div class="d-flex justify-content-center mb-3"></div>
  <label for="login">Login:</label><br>
  <input type="text" id="login" name="login"><br>
  <label for="senha">Senha:</label><br>
  <input type="text" id="senha" name="senha"><br><br>
  <p> Não possui cadastro? <a href="url">Clique aqui!</a></p>
  <button type="submit" class="btn btn-primary col-2" style="background-color: rgb(42, 66, 38);">Fazer login</button>
</form> 
</div>
</div>
</body>
</html>
{% endblock %}

